<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Tag DIV</title>
</head>
<body>
  <a href="/01_dsv_ui_estatic"><i class="fa fas fa-home"></i>Home</a>
  <p>Texto sem formatação via CSS</p>

  <div style="color: #f00; background-color: #ff0; width:300px; height:200px; border:4px solid #0e9701">
    <h2>Cabeçalho de nivel 2 de cor vermelha</h2>
    <p>Conteudo de um paragrafo na cor vermelha</p>
    <p>Essa div tem cor de fundo amarela, com 300px de largura e 200px de altura e borda de 4px verde</p>
  </div>

  <p>Mais um texto sdem formatação</p>
</body>
</html>
